.file-list,
.file-list ul {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.8em;
  margin-left: 0px;
  padding-left: 0px;
  border-left: 1px dotted #aaa;
}

.file-list li {
  position: relative;
  padding-left: 25px;
}
.file-list li a {
  text-decoration: none;
  color: #444;
}
.file-list li a:before {
  display: block;
  content: " ";
  width: 10px;
  height: 1px;
  position: absolute;
  border-bottom: 1px dotted #aaa;
  top: .6em;
  left: -14px;
}
.file-list li:before {
  list-style-type: none;
  font-family: FontAwesome, Arial,  sans-serif;
  display: block;
  content: '\f07b';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  color: #ffd04e;
}
.file-list .folder-root {
  list-style-type: none;
}
.file-list .folder-root a {
  text-decoration: none;
}
.file-list .folder-root:before {
  color: #ffd04e;
  content: "\f07b";
}
.file-list .folder-root.open:before {
  content: "\f07c";
}
li.folder-root ul {
  transition: all .3s ease-in-out;
  overflow: hidden;
}
li.folder-root.closed>ul {
  opacity: 0;
  max-height: 0px;
}
li.folder-root.open>ul {
  opacity: 1;
  display: block;
}

/* Filtre display */
.layout-column--half-folder {
  width: 100%;
}

/* CSS For Parent Folder */
#parent-folder {
  margin-left: 20px;
  padding-left: 2px;
}

/* CSS for scroll */
#edit-folders {
  max-height: 1000px;
  overflow-y: auto;
}

/* CSS collapse folder */
.collapse-folder {
  width: 20px;
  height: 22px;
  background-color: transparent;
  position: absolute;
  left: 0px;
}

.remove-selected {
  cursor: pointer;
  padding: 0px 4px 0px 5px;
  font-weight: bold;
  font-size: 17px;
  color: red;
}

.plus::after {
  content: "+";
  position: absolute;
  left: 4px;
  z-index: 99999999;
  color: white;
}

.minus::after {
  content: "-";
  position: absolute;
  left: 8px;
  z-index: 99999999;
  color: white;
  top: 1px;
  font-size: 19px;
}
