{% if url %}
  {{ link(image, url) }}
{% else %}
  {{ image }}
{% endif %}
{% if ratio %}
  <div class="ratio-keepeek">
    {% autoescape false %}
      {{ ratio }}
    {% endautoescape %}
  </div>
{% endif %}
