{#
/**
* @file
* Default theme implementation to display a formatted keepeek image field.
*
* Available variables:
* - link: Link to display.
*
* @see template_preprocess_keepeek_image_formatter()
*
* @ingroup themeable
*/
#}
{% if variables %}
  <picture>
    {% if variables.sources %}
      {% for source_attributes in variables.sources %}
        <source{{ source_attributes }}/>
      {% endfor %}
    {% endif %}
    {{ variables.img_element }}
  </picture>
{% endif %}

