<!-- The Modal -->
<div id="myModalFolder" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
<div data-drupal-selector="edit-folders" id="edit-folders"
         class="js-form-wrapper form-wrapper seven-details layout-column--half-folder">
  <input class="purge-session button" data-drupal-selector="edit-purge-session"
         type="button" id="edit-purge-session" name="op" value="Reset folder tree">
  <h3>{{ "Folder tree"|t }}</h3>

  <ul class="file-tree" id="parent-folder">
    <li class="folder-root open">
      <span class="collapse-folder" data-id-folder="" data-has-child="" data-title="{{ 'No Selection'|t }}"></span>
      <a href="#" data-id-folder="" data-has-child="" data-title="{{ 'No Selection'|t }}" class="folder">{{ 'Root Folder'|t }}</a>
      <ul>
        {% for folder in folders %}
        <li {% if folder.hasChildren  == "1" %} class="folder-root closed" {% endif %}>
          <span class="collapse-folder {% if folder.hasChildren  == "1" %} plus {% endif %}" data-id-folder="{{ folder.id }}" data-has-child="{{ folder.hasChildren }}"  data-title="{{ folder.title }}">
          </span>
          <a href="#" data-id-folder="{{ folder.id }}" data-has-child="{{ folder.hasChildren }}"  data-title="{{ folder.title }}" class="folder">{{ folder.title }}</a>
          {% if folder.hasChildren  == "1" %}
          <ul></ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>

  </div>

</div>
