
{% if single_element == false %}
  <li {% if childs.hasChildren  == "1" %} class="folder-root closed" {% endif %}>
    <span class="collapse-folder {% if childs.hasChildren  == "1" %} plus{% endif %}"  data-id-folder="{{ childs.id }}" data-has-child="{{ childs.hasChildren }}" data-title="{{ childs.title }}">
    </span>
    <a href="#" data-id-folder="{{ childs.id }}" data-has-child="{{ childs.hasChildren }}" data-title="{{ childs.title }}"  class="folder">{{ childs.title }}</a>
    <ul></ul>
  </li>
{% else %}
  {% for child in childs %}
    {% if child.id is defined and child.hasChildren is defined %}
  <li {% if child.hasChildren  == "1" %} class="folder-root closed" {% endif %}>
    <span class="collapse-folder {% if child.hasChildren  == "1" %} plus {% endif %}" data-id-folder="{{ child.id }}" data-has-child="{{ child.hasChildren }}"  data-title="{{ child.title }}">
    </span>
    <a href="#" data-id-folder="{{ child.id }}" data-has-child="{{ child.hasChildren }}" data-title="{{ child.title }}"  class="folder">{{ child.title }}</a>
    <ul></ul>
  </li>
    {% endif %}
  {% endfor %}

{% endif %}
