{#
/**
* @file
* Default theme implementation to display a formatted keepeek document field.
*
* Available variables:
* - link: Link to display.
*
* @see template_preprocess_keepeek_document_formatter()
*
* @ingroup themeable
*/
#}
{% if link %}
  <a href="{{ link }}">{{ 'Download'|t }}</a> ({{ filesize }})
{% endif %}
