<!-- The Modal -->
<div id="myModalFolder" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
<div data-drupal-selector="edit-folders" id="edit-folders"
         class="js-form-wrapper form-wrapper seven-details layout-column--half-folder">
  {% autoescape false %}
  {{ folders }}
  {% endautoescape %}
</div>
  </div>

</div>
