{#
/**
* @file
* Default theme implementation to display a keepeek video in modal.
*
* Available variables:
* - link: Link to display.
*
*
* @ingroup themeable
*/
#}
{% if link %}
  <iframe src="{{ link }}" frameborder="0" scrolling="yes" seamless="seamless" style="display:block; width:100%; height:100vh;" allowfullscreen></iframe>
{% endif %}

