{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{%
  set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}
<div>
  <img{{ attributes.addClass(classes) }} />
</div>
{% if width and height %}
  <span><b>Width:</b> {{ width }} px / <b>Height:</b> {{ height }} px</span>
{% endif %}
