{#
/**
* @file
* Default theme implementation to display a formatted keepeek video field.
*
* Available variables:
* - link: Link to display.
*
* @see template_preprocess_keepeek_video_formatter()
*
* @ingroup themeable
*/
#}
{% if ratio %}
	{%
    set classes = [
    'video-responsive',
    'ratio-' ~ ratio,
    'col-' ~ columns,
  ]
    %}
{% else %}
	{%
  set classes = [
  'col-' ~ columns,
]
 %}
{% endif %}
{% if link %}
	<div {{attributes.addClass(classes)}}>
		<iframe src="{{ link }}" {% if title %} title="Video: {{ title }}" {% endif %} frameborder="0" scrolling="yes" loading="lazy" seamless="seamless" style="display:block; width:100%; height:100%;" allowfullscreen></iframe>

	</div>
	{% if title %}
		<h3 class="mt-4">{{ title }}</h3>
	{% endif %}
	{% if caption %}
		<p class="video-caption">
			{% autoescape false %}
				{{ caption }}
			{% endautoescape %}
		</p>
	{% endif %}

{% endif %}
